<div class="contact-container">
  <h2>Contact Me</h2>
  <p>Check out my social networks and contact or connect with me!</p>

  <div class="social-cards">

    <div class="social-card">
      <a href="https://www.linkedin.com/in/fernando-m-bicalho/">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" alt="LinkedIn">
      <h3>LinkedIn</h3>
      </a>
    </div>

    <div class="social-card">
      <a href="https://github.com/fmbicalho">
      <img src="https://img.icons8.com/fluent-systems-filled/200/FFFFFF/github.png" alt="GitHub">
      <h3>GitHub</h3>
      </a>
    </div>

    <div class="social-card">
      <a href="https://www.facebook.com/fernandombicalho">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/facebook/facebook-original.svg" alt="Facebook">
      <h3>Facebook</h3>
      </a>
    </div>

    <div class="social-card">
      <a href="https://www.instagram.com/fmbicalho/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="GitHub">
      <h3>Instagram</h3>
      </a>
    </div>
  </div>
</div>
