<!-- portfolio.component.html -->
<div class="portfolio-container">
  <h1>💻 My Projects</h1>
  <h2>Welcome to my portfolio!</h2>
  <p>Here you can explore some of my latest projects and see the work I’ve been passionate about.</p>
  <p>Each project showcases my skills and creativity. </p>
  <p>Feel free to browse and get in touch if you have any questions or would like to collaborate.</p>

  <div class="project-list">

    <div class="project-card">
      <a href="https://github.com/fmbicalho/LibraryManager">
      <img src="/assets/images/library.png" alt="Project Preview">
      <div class="project-info">
        <h3>Library Manager</h3>
        <p>A Web Application to organize and manage a Library.</p>
        <div class="tech-stack">
          <span>Java</span>
          <span>SpringBoot</span>
          <span>JavaScript</span>
          <span>MySQL</span>
          <span>HTML</span>
          <span>CSS</span>
        </div>
      </div>
    </a>
    </div>

    <div class="project-card">
      <a href="https://github.com/fmbicalho/GameJam">
      <img src="https://github.com/user-attachments/assets/2f9a34d4-b16b-4f74-bbe1-487094810cf1" alt="Project Preview">
      <div class="project-info">
        <h3>Fighting Game</h3>
        <p>Single-Player Fighting game based on the Code for all_ Bootcamp professors.</p>
        <div class="tech-stack">
          <span>Java</span>
          <span>Simple Graphics</span>
        </div>
      </div>
    </a>
    </div>

    <div class="project-card">
      <a href="https://github.com/Alef-Keuffer/uminho.la1.rastos-c">
      <img src="https://cf.geekdo-images.com/tYxS-l2Z8FkehH7eIQFY9A__opengraph/img/jA27SaLhCBZqH0zmZq-fhh-9nBY=/fit-in/1200x630/filters:strip_icc()/pic332409.jpg" alt="Project Preview">
      <div class="project-info">
        <h3>Rastros - Slimetrail</h3>
        <p>A game based on the original Slimetrail, created during Algorithm Laboratory I Course at University of Minho.</p>
        <div class="tech-stack">
          <span>C</span>
        </div>
      </div>
    </a>
    </div>

    <div class="project-card">
      <a href="https://github.com/fmbicalho/LibraryManager">
      <img src="/assets/images/chat.jpg" alt="Project Preview">
      <div class="project-info">
        <h3>Server X Clients Chat</h3>
        <p>It's a server-based Java program using IO Network, developed during the CodeforAll_ Bootcamp.</p>
        <div class="tech-stack">
          <span>Java</span>
          <span>Netcat</span>
        </div>
      </div>
    </a>
    </div>

    <div class="project-card">
      <a href="https://github.com/fmbicalho/race4life">
      <img src="/assets/images/spa.png" alt="Project Preview">
      <div class="project-info">
        <h3>Single Page Application</h3>
        <p>A SPA created during the CodeforAll_ Hackathon. In 24h.</p>
        <div class="tech-stack">
          <span>JavaScript</span>
          <span>HTML</span>
          <span>CSS</span>
        </div>
      </div>
    </a>
    </div>

    <div class="project-card">
      <a href="https://github.com/fmbicalho/weddingOrganizerWithNodeJS">
      <img src="/assets/images/wedding.png" alt="Project Preview">
      <div class="project-info">
        <h3>Wedding Organizer</h3>
        <p>A Web Application to organize Weddings.</p>
        <div class="tech-stack">
          <span>Node.js</span>
          <span>Express.js</span>
          <span>Objection</span>
          <span>MySQL</span>
          <span>HTML</span>
          <span>CSS</span>
        </div>
      </div>
    </a>
    </div>
  
  </div>
</div>

