<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="/assets/images/logo.webp" alt="Fernando B.">
        Fullstack Developer
      </a>
    </div>

    <div class="nav-right">
      <ul class="nav-links" [ngClass]="{'open': isMenuOpen}">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active-link" (click)="toggleMenu()">My Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link" (click)="toggleMenu()">Contacts</a></li>
      </ul>
      <a href="assets/cv.pdf" class="btn-hire-me">Hire Me!</a>
      <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
