/* Navbar*/
.navbar {
  background-color: #313131;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo a {
  font-size: 2rem; 
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  display: flex; 
  align-items: center; 
}

.logo a img {
  width: 50px; 
  height: 50px; 
  margin-right: 10px;
  border-radius: 50%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem; 
}

.nav-links li a {
  font-size: 1.2rem;
  color: #e0e0e0;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li a.active,
.nav-links li a:hover,
.nav-links li a.active-link {
  background-color: rgb(255, 21, 0);
  color: #fff;
}

/* Hire Me button */
.btn-hire-me {
  background-color: rgb(255, 21, 0);
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 1rem; 
}

.btn-hire-me:hover {
  background-color: rgb(255, 21, 0);;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    flex-direction: column;
    padding: 1rem 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .btn-hire-me {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }
}
