<div class="home-container">
  <!-- First row -->
  <div class="main-sections">
    <!-- About Me Section -->
    <section class="about-me card">
      <div class="about-me-content">
        <img src="assets/images/profile.jpg" alt="My Photo" class="profile-photo">
        <div class="about-me-text">
          <h1>🧑🏼‍💻 Hello, I'm Fernando Bicalho</h1>
          <p>
            I'm a caffeine-fueled ☕️ CS student at the prestigious University of Minho, tackling the world of algorithms and data structures. But by night (or whenever I have a free moment!), you'll find me glued to my keyboard ⌨️ at Code for All_, diving headfirst into a full-stack developer bootcamp.
            <br><br>
            My brain 🧠 thrives on the challenge of turning ideas into code, building bridges between front-end and back-end to create awesome applications. This future programmer is on a mission to make a dent in the tech world, one line of code at a time!
          </p>
        </div>
      </div>
    </section>

    <!-- Storyline Section -->
    <section class="storyline card">
      <h1>🚀 My Journey</h1>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>2024: Fullstack Bootcamp at Code for All_</h3>
            <p>To sharpen my practical programming skills, I enrolled in a fullstack bootcamp at Code for All, focusing more on hands-on programming, which contrasted with the theoretical approach I encountered in university.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>2019-2023: Work Experience in Telecommunications and Consumer Support</h3>
            <p>While studying, I worked as a Telecommunications Consultant at Alice, managing sales initiatives and acting as the first point of contact for customers. I also provided technical assistance as a Consumer Support Specialist at Vodafone.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>2019: Enrolled in Computer Science at the University of Minho</h3>
            <p>I took my passion further by joining the Computer Science program at the University of Minho, where I began learning the fundamentals and theoretical aspects of the field.</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-content">
            <h3>2018: Sparked Interest in Programming</h3>
            <p>I developed an interest in programming, but my love for computers began much earlier, ever since I got my first PC with Windows 98 as a kid.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Skills Section -->
  <div class="skills-section">
    <section class="skills">
    <h1>🛠️ My Skills</h1>
    <div class="skills-grid">
      
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" alt="Java Logo" class="skill-logo">
        <p>Java</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>JavaScript</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>TypeScript</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>MySQL</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>HTML</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>CSS</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/json/json-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>JSON</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>C</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/haskell/haskell-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Haskell</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Python</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Spring</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Bootstrap</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/hibernate/hibernate-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Hibernate</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/junit/junit-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>JUnit</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jquery/jquery-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>JQuery</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Git</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vim/vim-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Vim</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tomcat/tomcat-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Tomcat</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/maven/maven-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Maven</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Node.js</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Express.js</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/npm/npm-original-wordmark.svg" alt="TypeScript Logo" class="skill-logo">
        <p>npm</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Angular</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Tailwind</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>C#</p>
      </div>
      <div class="skill-item">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg" alt="TypeScript Logo" class="skill-logo">
        <p>Unity</p>
      </div>
      <div class="skill-item">
        <img src="https://www.shareicon.net/download/2015/09/22/105529_gear_512x512.png" alt="TypeScript Logo" class="skill-logo">
        <p>REST API</p>
      </div>
    </div>
  </section>
  </div>
</div>